body{
    display: flex;
    flex-direction: column;
    gap: 55px 30px;
    margin: 0px;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

header{
    border-bottom: 2px solid black;
}

h1{
    padding-left: 20px;
    text-transform: uppercase;
}

main{
    padding-left: 20px;
}

main p{
    margin-bottom: 25px;
}

footer{
    flex: 1 1 3;
    align-items: end;
    justify-content: end;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}