body {
    margin: 0px;
    Padding: 0px;
    background-color: #cccccc;
}

ul  {
    background-color: #444;
    display: inline-block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

li {
    text-emphasis: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}