body{
    font-family: Arial, Helvetica, serif;
    line-height: 3px;
    font-size: 18px;
}

p{
    margin: 20px;
    padding: 10px;
}

a{
    display: inline;
    text-decoration: none;
    color: #fff;
    border-radius: 5.40px;
    padding: 12.60px 27px 12.60px 27px;
}

a:hover{
    color: #eee;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

i{
    padding-right: 5.40px;
}